* {
    font-family: "DM Sans", monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#whole-container h1 {
    text-align: left;
    margin-left: 25px;
}

#whole-container {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

main {
    width: 350px;
    border: 1px solid skyblue;
    padding: 5px;
}

.delete-button {
    background-color: #dc3545;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 75px;
    height: 30px;
}

ul {
    width: 99%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

li {
    display: flex;
    margin-left: 0;
    width: 89%;
    height: 0.8cm;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid #e1e1e1;
}

.check-box {
    width: 17px;
    height: 17px;
}

main input {
    height: 24px;
    padding: 5px;
    border: 1.5px solid #d8d8d8;
    border-radius: 5px;
    margin-right: 5px;
}

.main-container button {
    padding: 5px;
    height: 38px;
    width: 95px;
    border: none;
    background-color: #007bff;
    border-radius: 5px;
    color: white;
}
