.tasks-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.425);
    background-color: #0a192f;
    color: #c3ceec;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
}

p-tag {
    font-size: 12px;
    font-weight: 400;
    min-width: 58.63px;
    margin: -25px;
}

select {
    width: 100%;
    padding: 1.5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: -8px;
}

.total-tasks {
    font-size: 14px;
}

.working-leave-btn {
    border: 1px solid #05b68d;
    padding: 8px 16px;
    border-radius: 5px;
    color: #c3ceec;
    border-radius: 10px;
}

.add-task-btn {
    background-color: #213c66;
    color: #62fbd7;
    border-radius: 5px;
    padding: 8px 16px;
    text-align: center;
    transition: all 0.25s ease;
    cursor: pointer;
    margin-left: 10px;
}

.add-task-btn:hover {
    background-color: #213c66;
    color: #62fbd7;
    cursor: pointer;
    box-shadow: 0 0 3px #62fbd7;
}

.date-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.date-section label {
    margin-right: 10px;
}

.date-section input[type="date"] {
    padding: 5px;
}

.tasks-table,
.activities-table {
    margin-top: 20px;
}

.tasks-table table,
.activities-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    font-size: smaller;
}

thead th,
tbody td {
    padding: 10px;
    border: 2px solid #0a192f;
    text-align: center;
}

thead th {
    background-color: #172a46;
    color: #d6def7;
    font-size: larger;
}

tbody tr:nth-child(odd) {
    background-color: #223b61;
}

tbody tr:nth-child(even) {
    background-color: #192d4b;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.no-tasks {
    color: #ff0000;
}

.edit-btn,
.complete-btn,
.add-activity-btn,
.delete-btn {
    font-size: 16px;
}

.add-activity-btn,
.complete-btn {
    color: #198754;
}

.edit-btn {
    color: #0d6efd;
}

.delete-btn {
    color: #ff0000;
}

.activities-table table {
    margin-top: 10px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #62fbd7;
    box-shadow: 0 0 5px #62fbd780;
}

input {
    border-radius: 5px;
    border: 1px solid #919090;
    border: none;
    box-shadow: 0 0 5px #62fbd780;
    color-scheme: dark;
}

select {
    color-scheme: dark;
    border: none;
    box-shadow: 0 0 5px #62fbd780;
    padding: 5px 7px;
}