<section class="section">
    <div class="top-section">
        <div class="income-div" id="income-div-id">
            <i class="fa-solid fa-circle-down"></i>
            <label id="ttl-inc">Total Income:</label>
            <label id="total-income-dsp">7500</label>
        </div>
        <div class="expense-div" id="expense-div-id">
            <i class="fa-solid fa-circle-up"></i>
            <label id="ttl-exp">Total Expense:</label>
            <label id="total-expense-dsp">5000</label>
        </div>
        <div class="balance-div" id="balance-div-id">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <label id="ttl-bln">Total Balance:</label>
            <label id="total-balance-dsp">2500</label>
        </div>
    </div>
    <div class="mid-section">
        <div class="mid-section-one">
            <button id="new-goal-btn">
                <div><i class="fa-solid fa-bullseye fa-2xl"></i></div>
                <label>+ Saving Goal</label>
            </button>
            <button id="new-transaction-btn">
                <div><i class="fa-solid fa-money-bill-transfer fa-2xl"></i></div>
                <label>+ Transaction</label>
            </button>
            <button id="dummy-btn">
            </button>
        </div>
    </div>
    <div class="overlay" id="overlay"></div>
    <div class="new-goal-form-div" id="new-goal-popup">
        <h2>New Goal</h2>
        <button class="close-popup" id="close-goal-popup">&times;</button>
        <form action="" id="new-goal-form" (ngSubmit)="addNewGoal(newGoalForm)" #newGoalForm="ngForm">
            <label>Set goal name</label>
            <input
                placeholder="Goal name"
                type="text"
                id="new-goal-name-inp"
                name="goalName"
            />
            <label>Set goal target</label>
            <input
                placeholder="Goal target"
                type="text"
                id="new-goal-trgt-inp"
                name="goalTrgt"
            />
            <label>Add initial contribution (not mandatory)</label>
            <input
                placeholder="Initial contribution"
                type="text"
                id="new-goal-init-inp"
                name="initFund"
            />
            <input id="save-goal-btn" type="submit" value="Save Goal">
            <p class="popup-errors" id="new-goal-error">Input Probs</p>
        </form>
    </div>
</section>
