:host {
    --border-color: rgba(218, 219, 222, 1);
}

.address {
    margin-top: 15.8125px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    font-family: "Poppins", 'Ubuntu';
    font-weight: 300;
    font-size: small;
    background-color: white;
}

.address span {
    font-weight: 500;
}