.dash-main-container {
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.425);
    background-color: #111827;
    color: #f3f4f6;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    margin-top: 0;
}

.emp-grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 15px;
    max-height: 290px;
    min-height: 290px;
    overflow: auto;
}

:host ::ng-deep .p-card .p-card-body {
    border-radius: 10px;
    background-color: #1f2937;
    color: #f3f4f6;
    min-width: 350px;
}

:host ::ng-deep .p-metergroup .p-metergroup-label-text {
    font-size: 14px;
}

:host ::ng-deep .p-card .p-card-title {
    font-size: 1.6em;
    font-weight: 600;
}

:host ::ng-deep .p-card .p-card-subtitle {
    color: #8590ae;
    margin-top: -5px;
}

:host ::ng-deep .p-dialog {
    background-color: #111827;
}

:host ::ng-deep .p-dialog .p-dialog-close-button:focus {
    outline: none;
}

.reg-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reg-form form select,
.reg-form form input {
    font-size: 16px;
    text-align: left;
    color: #f3f4f6;
    background-color: #111827;
}

.reg-form label,
.reg-form input::placeholder {
    text-align: left;
    color: #9ca3af;
}

label {
    margin-bottom: -10px;
}

.reg-form form select,
.reg-form form input[type="text"],
.reg-form form input[type="email"],
.reg-form form input[type="password"] {
    padding: 10px;
    border: 1px solid #283141;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.reg-form form input[type="submit"] {
    background-color: #6950e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
}

.reg-form form input[type="submit"]:not(:disabled):hover {
    background-color: #592be7;
    cursor: pointer;
    box-shadow: 0 0 5px #592be7;
}

.reg-form form input[type="submit"]:disabled {
    background-color: #6950e8cb;
    cursor: default;
    color: #cfcdcd;
}

.reg-form form input:focus,
.reg-form form select:focus {
    outline: none;
    box-shadow: 0 0 5px #6950e86c;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.add-user-btn {
    margin-top: -5px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: #6950e8;
    padding: 10px 18px 10px 10px;
    height: fit-content;
    font-size: 14px;
    transition: all 0.3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.add-user-btn:hover {
    background-color: #592be7;
    cursor: pointer;
    box-shadow: 0 0 5px #592be7;
}

.add-user-btn img {
    height: 15px;
}

.client-dtl-head {
    font-weight: 600;
}

.client-dtl {
    font-weight: 700;
    color: #f3f4f6;
}

.client-dtl-res {
    font-weight: 400;
    color: #8590AE;
    margin-top: -10px;
}

:host ::ng-deep .p-accordion .p-accordionheader {
    background-color: #1f2937;
}

:host ::ng-deep .p-accordion .p-accordionheader:focus {
    outline: none;
}

:host ::ng-deep .p-accordion .p-accordioncontent {
    background-color: #1f2937;
}

:host ::ng-deep .p-accordion .p-accordioncontent .p-accordioncontent-content {
    background-color: #1f2937;
}

:host {
    --p-accordion-header-active-background: #28313f;
    --p-accordion-header-first-top-border-radius: 10px;
    --p-accordion-header-active-hover-background: #28313f;
    --p-accordion-header-hover-background: #28313f;
    --p-accordion-header-last-bottom-border-radius: 10px;

    --p-button-primary-hover-background: #592be7;
    --p-button-primary-background: #6950e8;
    --p-button-primary-active-background: #592be7;
    --p-button-primary-border-color: #6950e8;
    --p-button-primary-color: #f3f3f3;
    --p-button-primary-hover-color: #f3f3f3;
    --p-button-primary-active-color: #f3f3f3;
    --p-button-primary-active-border-color: #592be7;
    --p-button-primary-hover-border-color: #592be7;

    --p-stepper-step-title-active-color: #6950e8;
    --p-stepper-separator-active-background: #6950e8;
    --p-stepper-step-number-active-border-color: #6950e8;
    --p-stepper-step-number-active-color: #6950e8;
}

.question-form {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 calc(33.33% - 10px); */
}

.question-form select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.question-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
}

.question-form textarea {
    margin-top: 5px;
    border-radius: 5px;
    min-width: 100%;
    padding: 10px;
    max-width: 100%;
    flex-basis: 100%;
    min-height: 150px;
    border: 1px solid #283141;
    background-color: #1F2937;
    color-scheme: dark;
}

.question-form input,
.question-form select {
    margin-top: 5px;
    color-scheme: dark;
    border: 1px solid #283141;
    color: #f3f4f6;
    background-color: #1F2937;
    font-size: 15px;
}

.question-form label {
    color: #9ca3af;
    margin-bottom: 5px;
}

.question-form input::placeholder {
    color: #9ca3af;
}
