<app-header></app-header>

<div class="dash-main-container">
    <div class="top-main-div">
        <h2>All Employees</h2>
        <button class="add-user-btn" (click)="showCreateUserDialog()">
            <img src="assets\icons\user-plus.svg" alt="" >
            Add New User
        </button>
    </div>
    <div class="emp-grid-card">
        @for (stat of userTaskStats; track $index) {
            <p-card header="{{ stat.username }}" [subheader]="stat.isAdmin ? 'Permissions: Admin' : 'Permissions: User'">
                <p class="m-0"><strong>Total Tasks:</strong>  {{ stat.totalTasks }}</p>
                <p class="m-0"><strong>Email:</strong> {{ stat.email }}</p>
                <p-divider />
                <p class="m-0">Employee Overall Performance</p>
                <div class="metergroup-container">
                    <p-metergroup [value]="stat.value" />
                </div>
            </p-card>
        }
    </div>
    <!-- <p-divider /> -->
    <div class="card flex justify-center">
        <p-toast position="bottom-right" />
    </div>
</div>

<p-dialog class="reg-form" header="Add New Profile" [modal]="true" draggable="false" [(visible)]="showCreateUser" [style]="{ width: '30rem' }">
    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
        <label for="usrname-inp">Username:</label>
        <input
            id="usrname-inp"
            type="text"
            required
            ngModel
            name="usrname"
        />
        <!-- placeholder="Enter your username" -->

        <label for="email-inp">Email Address:</label>
        <input
            id="email-inp"
            type="email"
            name="email"
            ngModel
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            required
        />
        <!-- placeholder="Enter your email" -->

        <label for="pass-inp">Password:</label>
        <input
            id="pass-inp"
            required
            ngModel
            name="pass"
            min="8"
            type="password"
        />
        <!-- placeholder="Enter your password" -->

        <label for="cnfmpass-inp">Confirm Password:</label>
        <input
            id="cnfmpass-inp"
            required
            ngModel
            type="password"
            name="cnfmpass"
            min="8"
        />
        <!-- placeholder="Confirm your password" -->

        <label for="cnfmpass-inp">Role:</label>
        <select id="select4" name="accrole" ngModel required>
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>

        <input
            type="submit"
            value="Register"
            [disabled]="
                registerForm.invalid ||
                registerForm.form.get('cnfmpass')?.value !==
                    registerForm.form.get('pass')?.value
            "
        />
    </form>
</p-dialog>
