<app-header></app-header>

<div class="dash-main-container">
    <div class="first-container">
        <div class="header-div">
            <h2>All Employees</h2>
            <button class="add-user-btn" (click)="showCreateUserDialog()">
                <img src="assets\icons\user-plus.svg" alt="" />
                Add New User
            </button>
        </div>
        <div class="emp-grid-card">
            @for (stat of userTaskStats; track $index) {
            <p-card
                header="{{ stat.username }}"
                [subheader]="
                    stat.isAdmin ? 'Permissions: Admin' : 'Permissions: User'
                "
            >
                <p class="m-0">
                    <strong>Total Tasks:</strong> {{ stat.totalTasks }}
                </p>
                <p class="m-0"><strong>Email:</strong> {{ stat.email }}</p>
                <p-divider />
                <p class="m-0">Employee Overall Performance</p>
                <div class="metergroup-container">
                    <p-metergroup [value]="stat.value" />
                </div>
            </p-card>
            }
        </div>
    </div>
    <div class="second-container">
        <div class="header-div">
            <h2>Other Management</h2>
            <!-- <button class="add-user-btn" (click)="showCreateUserDialog()">
                <img src="assets\icons\user-plus.svg" alt="" >
                Add New User
            </button> -->
        </div>

        <div class="accordion">
            <p-accordion value="0">
                <p-accordion-panel value="0">
                    <p-accordion-header>Client List</p-accordion-header>
                    <p-accordion-content>
                        <p-accordion [value]="0">
                            @for (client of clientData; track $index) {
                                <p-accordion-panel [value]="$index" (click)="getProjectDataByClientId(client.id)">
                                    <p-accordion-header>{{ client.clientName }}</p-accordion-header>
                                    <p-accordion-content>
                                        <!-- <p class="m-0 client-dtl-head">Client Details</p> -->
                                        <p class="client-dtl">Email: <span class="client-dtl-res">{{ client.contactEmail }}</span></p>
                                        <p class="client-dtl">Phone: <span class="client-dtl-res">{{ client.contactPhone }}</span></p>
                                        <p class="client-dtl">Signed On: <span class="client-dtl-res">{{ client.createdDate.toString().split('T')[0] }}</span></p>
                                        <p-accordion [value]="0">
                                            <h4>Projects</h4>
                                            @for (project of projectsByClient; track $index) {
                                                <p-accordion-panel [value]="$index">
                                                    <p-accordion-header>{{ project.projectName }}</p-accordion-header>
                                                    <!-- <p-accordion-content>
                                                        <p class="m-0 client-dtl-head">Client Details</p>
                                                        <p class="client-dtl">Client Email: <span class="client-dtl-res">{{ client.contactEmail }}</span></p>
                                                        <p class="client-dtl">Client Phone: <span class="client-dtl-res">{{ client.contactPhone }}</span></p>
                                                        <p class="client-dtl">Contract Signed On: <span class="client-dtl-res">{{ client.createdDate.toString().split('T')[0] }}</span></p>
                                                    </p-accordion-content> -->
                                                </p-accordion-panel>
                                            }
                                        </p-accordion>
                                    </p-accordion-content>
                                </p-accordion-panel>
                            }
                        </p-accordion>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>
    </div>
    <!-- <p-divider /> -->
    <div class="card flex justify-center">
        <p-toast position="bottom-right" />
    </div>
</div>

<p-dialog
    class="reg-form"
    header="Add New Profile"
    [modal]="true"
    draggable="false"
    [(visible)]="showCreateUser"
    [style]="{ width: '30rem' }"
>
    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
        <label for="usrname-inp">Username:</label>
        <input id="usrname-inp" type="text" required ngModel name="usrname" />
        <!-- placeholder="Enter your username" -->

        <label for="email-inp">Email Address:</label>
        <input
            id="email-inp"
            type="email"
            name="email"
            ngModel
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            required
        />
        <!-- placeholder="Enter your email" -->

        <label for="pass-inp">Password:</label>
        <input
            id="pass-inp"
            required
            ngModel
            name="pass"
            min="8"
            type="password"
        />
        <!-- placeholder="Enter your password" -->

        <label for="cnfmpass-inp">Confirm Password:</label>
        <input
            id="cnfmpass-inp"
            required
            ngModel
            type="password"
            name="cnfmpass"
            min="8"
        />
        <!-- placeholder="Confirm your password" -->

        <label for="cnfmpass-inp">Role:</label>
        <select id="select4" name="accrole" ngModel required>
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>

        <input
            type="submit"
            value="Register"
            [disabled]="
                registerForm.invalid ||
                registerForm.form.get('cnfmpass')?.value !==
                    registerForm.form.get('pass')?.value
            "
        />
    </form>
</p-dialog>
