<app-header></app-header>

<div class="dash-main-container">
    <h2>All Employees</h2>
    <div class="emp-grid-card">
        @for (stat of userTaskStats; track $index) {
            <p-card header="{{ stat.username }}" [subheader]="stat.isAdmin ? 'Admin Permissions' : 'User Permissions'">
                <p class="m-0"><strong>Id:</strong>  {{ stat.id }}</p>
                <p class="m-0"><strong>Email:</strong> {{ stat.email }}</p>
                <p-divider />
                <p class="m-0">Employee Overall Performance</p>
                <div class="metergroup-container">
                    <p-metergroup [value]="stat.value" />
                </div>
            </p-card>
        }
    </div>
    <!-- <p-divider /> -->
</div>
