<div class="main-content">
    <div class="ord-info">
        <p>Order Number</p>
        <p class="ord-num">#256894</p>
        <div class="msg-cx"><i class="fa-solid fa-message"></i><span class="msg-cx-txt">Message Customer</span></div>
    </div>
    <app-items-summary class="item-summary"></app-items-summary>
    <app-cx-ord-dtls class="cx-ord-dtls"></app-cx-ord-dtls>
    <div class="side-content">
        <app-rider-dtls class="rider-dtls"></app-rider-dtls>
        <app-order-summary class="order-summary"></app-order-summary>
    </div>
</div>