<header class="header">
    <div class="title">
        Employee Task Tracker
        <a routerLink="/tasktracker" class="link">Task Tracker</a>
        <a routerLink="/admindash" class="link" [ngClass]="{'disabled-link': isUser}">Admin Dashboard</a>
    </div>
    <div class="user-info">
        @if (isUser) { <i class="fa-solid fa-user fa-xs" style="margin-right: 5px;"></i> <p>user</p> }
        @else { <i class="fa-solid fa-user-tie fa-xs" style="margin-right: 5px;"></i> <p>admin</p> }
        <span class="welcome">
            : {{ loggedUser.username }}
        </span>
        <a (click)="logout()" class="link">Logout</a>
    </div>
</header>
