.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    margin-bottom: 10px;
}

a.disabled-link {
    pointer-events: none;
    background-color: #5b3574;
    cursor: default;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.link {
    display: inline-block;
    background-color: #8e54b4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    font-weight: 400;
    font-size: 13.33333px;
}

.link:hover {
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
}

.welcome {
    margin-right: 10px;
    font-size: 16px;
}

.logout-button {
    background-color: #8e54b4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.logout-button:hover, .link:hover {
    background-color: #7b45a0;
}

.logout-button:disabled {
    background-color: #5f357a;
    cursor: default;
    color: #b9b9b9;
}

.user-info span {
    font-size: 15.5px;
    margin-right: -5px;
}
